version: 2
updates:

- package-ecosystem: gradle
  directory: "/"
  schedule:
    interval: weekly
    time: "10:00"
    timezone: Europe/London
  open-pull-requests-limit: 10000
  ignore:
    - dependency-name: "gradle-wrapper"
  groups:
    spring-boot-dependencies:
      patterns:
        - "org.springframework.boot:*"
    others:
      patterns:
        - "*"